
<h3>Google Authentication</h3>

<div class="alert alert-info">
    На цій сторінці наведено інструкцію з налаштування Google Authentication для вашого веб-додатка.
</div>

<h4>Інструкція</h4>
<p>Для використання Google Authentication, будь ласка, дотримуйтесь наступних кроків:</p>


<p>1. Перейдіть на <a href="https://console.developers.google.com/" target="_blank">Google Developers Console</a>.</p>
<p>2. Створіть новий проект або виберіть існуючий.</p>
<p>3. Створіть облікові дані OAuth 2.0 для веб-додатка:</p>
<p>Якщо ви це робите вперше може знадобитися ще додаткове налаштування проєкту/платформи.</p>
<p>3. Увімкніть Google+ API та Google Sign-In API для вашого проекту.</p>

<p>Скопіюйте Client ID та Client Secret і вставте їх у ваш файл конфігурації.</p>
<p>Налаштуйте URL-адреси перенаправлення для вашого додатка.</p>
<p>Збережіть зміни та протестуйте аутентифікацію на вашому сайті.</p>


@section Scripts {
    <script src="~/lib/highlight.js/highlight.min.js"></script>
    <script src="~/lib/highlight.js/languages/csharp.min.js"></script>
    <script src="~/lib/highlight.js/languages/json.min.js"></script>
    <link href="~/lib/highlight.js/styles/default.min.css" rel="stylesheet" />

    <script>
        hljs.initHighlightingOnLoad();
    </script>
}
