<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/89abdd4b-faaa-42a8-8b15-9af4266fce37/resourcegroups/TMP/providers/Microsoft.ContainerRegistry/registries/BlazorApp120240530113013</ContainerResourceId>
    <ContainerResourceName>BlazorApp120240530113013</ContainerResourceName>
    <Subscription>Act to Support Subscription</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>blazorapp120240530113013.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>blazorapp</ContainerName>
    <EnvironmentName>BlazorApp1-env-20240530112328</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://blazor-demo-app.bravehill-6f73b0fd.australiaeast.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/89abdd4b-faaa-42a8-8b15-9af4266fce37/resourceGroups/TMP/providers/Microsoft.App/containerApps/blazor-demo-app</ResourceId>
    <ResourceGroup>TMP</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>