@using X.PagedList
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Fluent;

@using static AppDemo.Controllers.HomeController
@model IPagedList<Demo>

<link href="/css/PagedList.css" rel="stylesheet" type="text/css" />

<!-- loop through each of your products and display it however you want. we're just printing the name here -->
<h2>List of Products from EF Core</h2>

<div class="row">
    @foreach (var r in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                <div>@r.Id</div>
                    <p><strong>@r.Name</strong></p>
                </div>
            </div>
        </div>
    }
</div>


@Html.PagedListPager(Model, page => Url.Action("Paging", new { page }))


@{

}
